*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

.hidden {
	display:none;
}

.center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	border-radius: 3px;

}

.form-container {
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	z-index: 2;
	background-color:dodgerBlue;
	padding-top:20%;
}

h1 {
	font-size: 36px;
	padding: 10px;
}

section {
	height: 100%;
	width: 100%;
}

#map-section {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color:dodgerBlue;
}

#search-section {
	width: 100%;
	z-index: 999;
	background-color:dodgerBlue;
}

#map {
	height:100%;
	width:85%;
	float:right;
}

