* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
	background-color: rgba(106, 90, 205, .8);
	color: white;
	font-family: 'Oswald', sans-serif;
}
.hidden {
	display: none;
}
.form-container {
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 400px;
	padding-top: 2%;
	z-index: 2;
	text-align: center;
	background-color: rgba(106, 90, 205, .8);
}
.tinted-image {
	background: 
	linear-gradient(
	rgba(106, 90, 205, .75),
	rgba(106, 90, 205, .75)), 
	url('images/denver-min.png') no-repeat center center;
	background-size: cover;
}
.center {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgb(106, 90, 205);
	border-radius: 3px;
	height: 100%;
	width: 100%;
	padding-top: 15%;
}
.button {
	cursor: pointer;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 0px;
	margin: 0;
	transform: all .2s ease;
}
.route {
	border-bottom: 1px solid white;
	cursor: pointer;
}
#search-button {
	cursor:pointer;
}
.button:hover {
	color: rgba(0, 0, 0, .5);
}
input {
	color: white;
	display: inline-block;
	line-height: 1.25;
	white-space: nowrap;
	vertical-align: middle;
	border: 2px solid white;
	padding: .5rem 1rem;
	font-size: 1rem;
	background-color: transparent;
}
input::placeholder {
	color: white;
	transition: all .2s ease;
}
input:hover::placeholder {
	color: rgba(0, 0, 0, .5);	
}
input:focus::placeholder {
	color: rgba(0, 0, 0, .5);
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	padding: .5rem 1rem;
	color: white;
}
div.tour-item h2 {
	font-size: 24px;
	margin-bottom: 0;
}
section {
	height: 100%;
	width: 100%;
}
#map-section {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-color: rgba(106, 90, 205, .8);
}
#search-section {
	width: 100%;
	height: 100%;
	background-color: rgba(106, 90, 205, .8);
}
.tour {
	padding: .5rem 1rem;
}
button.route {
	margin-left: 50%;
	border: none;
	font-size: 18px;
	cursor: pointer;
}
div.tour-item {
	color: white;
	width: 350px;
	border-bottom: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1rem;
	padding-bottom: .5rem;
	text-align: left;
}
#map {
	height: 100%;
	width: 100%;
	float: right;
}
#map>div>div>div:nth-child(10) {
	margin-left: 25% !important;
}
#map>div>div>div:nth-child(1)>div:nth-child(4)>div:nth-child(4)>div>div.gm-style-iw>div:nth-child(1)>div>div>p {
	color: #4D95C4;
	font-size: 14px;
	font-weight: bold !important;
}
@media screen and (max-device-width: 375px) and (max-device-height: 667px) {
	html, body {
		background-color: rgb(106, 90, 205) !important;
	}
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 3rem !important;
		padding: .5rem 1rem;
		color: white;
	}
	.form-container {
		position: absolute;
		height: 30%;
		width: 100%;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(106, 90, 205);
		padding-top: 0;
	}
	.center {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 3px;
		height: 100%;
		width: 100%;
		padding-top: 55%;
		background-color: rgb(106, 90, 205);
	}
	#map {
		position: static;
		height: 70%;
		width: 100%;
		float: none;
		background-color: rgb(106, 90, 205);
	}
	#map>div>div>div:nth-child(10) {
		margin-left: 25% !important;
	}
	.tour {
		position: static;
		padding: 1rem;
		background-color: transparent;
	}
}

@media screen and (max-device-width: 414px) and (max-device-height: 736px) {
	html, body {
		background-color: rgb(106, 90, 205) !important;
	}
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 3rem !important;
		padding: .5rem 1rem;
		color: white;
	}
	.form-container {
		position: absolute;
		height: 30%;
		width: 100%;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(106, 90, 205);
		padding-top: 0;
	}
	.center {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 3px;
		height: 100%;
		width: 100%;
		padding-top: 55%;
		background-color: rgb(106, 90, 205);
	}
	#map {
		position: static;
		height: 70%;
		width: 100%;
		float: none;
		background-color: rgb(106, 90, 205);
	}
	#map>div>div>div:nth-child(10) {
		margin-left: 25% !important;
	}
	.tour {
		position: static;
		padding: 1rem;
		background-color: transparent;
	}
}

@media screen and (max-device-width: 768px) and (max-device-height: 1024px) {
	html, body {
		background-color: rgb(106, 90, 205) !important;
	}
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 3rem !important;
		padding: .5rem 1rem;
		color: white;
	}
	.form-container {
		position: absolute;
		height: 30%;
		width: 100%;
		text-align: center;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgb(106, 90, 205);
		padding-top: 0;
	}
	.center {
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 3px;
		height: 100%;
		width: 100%;
		padding-top: 55%;
		background-color: rgb(106, 90, 205);
	}
	#map {
		position: static;
		height: 70%;
		width: 100%;
		float: none;
		background-color: rgb(106, 90, 205);
	}
	#map>div>div>div:nth-child(10) {
		margin-left: 25% !important;
	}
	.tour {
		position: static;
		padding: 1rem;
		background-color: transparent;
	}
}