*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.hidden {
	display:none;
}

section {
	padding: 100px;
}

#map-section {
	height: 500px;
	width: 100%;
}

#search-section {
	width: 100%;
	border-top: 1px solid black;
}